@font-face {
    font-family: 'Rajdhani';
    src: url(../Police/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: 'Space_Grotesk_Bold';
    src: url(../Police/SpaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: 'Space_Grotesk_Regular';
    src: url(../Police/SpaceGrotesk-Regular.ttf);
}

:root{
    --color-yellow-01: #ffff00;
    --color-yellow-02: #f8f184;
    --color-blue: #19587d75;
    --color-red-01: #b11313;
    --color-red-02: #890009;
    --color-black-01: #000000;
    --color-black-02: #0d0e098c;
    --color-gray-01: #c4c4c4a2;
    --color-gray-02: #eddebfe0;
    --color-white: #ffffff;
    --color-border: #bcbbbd13;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--color-black-01);
    color: var(--color-white);
}

.container{
    width: 86%;
    margin: auto;
    border-left: 2px solid var(--color-border) ;
    border-right: 2px solid var(--color-border) ;
}

.titre{
    padding: 40px;
    font-family: 'Space_Grotesk_Bold';
    font-size: 26px;
}

.description{
    width: 88%;
    padding: 40px;
    text-align: justify;
    line-height: 22px;
    font-family: 'Space_Grotesk_Regular';
    font-size: 18px;
}

.personnage div:hover{
    transform: scale(1.1);
    transition: transform 0.9s ease-in-out;
    transform-origin: center;
}

.info_perso{
    text-align: center;
    margin-bottom: 40px;
}
                            /*      Desing Barre de navigation      */
#header{
    height: 900px;
    background-image: url(../Illustrations/Bathome1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-black-02);
}

nav{
    display: flex;
    align-items: center;
    padding: 55px 55px 75px 55px;
    justify-content: space-between;
    background-position: top center;
    border-bottom: 2px solid var(--color-border);
}

.logo{
    width: 100px;
    height: auto;
}

.logo:hover,
.logo_social img:hover{
    filter: invert(20%) sepia(80%) saturate(4740%) hue-rotate(340deg)
    brightness(160%) contrast(140%);
    transform: scale(1.1);
    transition: transform 0.9s ease-in-out;
}

ul a{
    text-decoration: underline;
    font-family: 'Rajdhani';
    font-size: 36px;
    color: var(--color-white);
}

ul a:hover{
    color: var(--color-yellow-01);
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 0.9s ease-in-out;
}

ul a:active{
    color: var(--color-yellow-01);
    font-weight: bold;
}

li{
    list-style: none;
}

                            /*      Desing Scroll Barre      */
.scroll_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 2.45%;
    top: 250px;
    z-index: 100;
}

.logo_social img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35px;
    margin: 45px;
    z-index: 100;
}
                            /*      Desing Contenue header      */
.content{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 230px;
}

.content p{
    font-size: 21px;
    font-family: 'Space_Grotesk_Regular';
}
                            /*      Desing les 2 buttons      */
.btn{
    font-family: 'Rajdhani';
    font-size: 20px;
    padding: 10px 50px;
    text-decoration: none;
    display: inline-block;
    box-shadow: var(--color-black-01) 10px 10px 60px;
    margin: 12px;
    color: var(--color-white);
    background: linear-gradient(
        70deg,
        rgba(245, 220, 180, 0.493) 40%,
        rgba(140, 0, 7, 0.37) 60%
    );
}

.btn:hover{
    font-family: 'Rajdhani';
    font-size: 20px;
    color: var(--color-white);
    padding: 10px 50px;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(
      80deg,
      var(--color-gray-02) 40%,
      var(--color-red-02) 60%
    );
    box-shadow: var(--color-black-01) 10px 10px 60px;
    transition: transform 0.9s ease-in-out;
    transform: scale(1.1);
}
                            /*      Desing du Flèche ver le bas      */
.fleche {
    display: block;
    margin: auto;
    width: 80px;
    padding-top: 230px;
}
                            /*      Desing du section Batman au CINEMA      */
#Batman_cinema{
    padding-top: 49px;
}

.personnage{
    display: flex;
    justify-content: space-between;
    padding: 40px;

}
                            /*      Desing du section NÉMÉSIS      */
.nemesis{
    display: flex;
    align-items: center;
}

.nemesis_img{
    width: 230px;
    height: auto;
}
                            /*      Desing du section ALLIÉS      */
.allies{
    padding-top: 60px;
}

.allies_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 178rem;
    z-index: 99;
}
                            /*      Desing du section League de Justice      */
.justice_img{
    width: 100%;
    height: auto;
}